<h1 class="text-success text-center">Live angular diretivas</h1>
<!-- firetivas de atributo -->
<div [ngStyle]="{ background: count < 5 ? 'red' : 'green' }" [ngClass]="{ custom: count > 5 }">
	<p class="text-center">Contador: {{ count }}</p>
</div>

<!-- diretivas estruturais -->
<h2 *ngIf="count > 7; else menor">O contador passou de 7!</h2>

<ng-template #menor>
	<h2>O contador é menor que 7!</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
	<li class="list-group-item" *ngSwitchCase="3">É IGUAL A 3</li>
	<li class="list-group-item" *ngSwitchCase="5">É IGUAL A 5</li>
	<li class="list-group-item" *ngSwitchCase="7">É IGUAL A 7</li>
	<li class="list-group-item" *ngSwitchCase="9">É IGUAL A 9</li>
	<li class="list-group-item" *ngSwitchDefault>VALOR DEFAULT</li>
</ul>

<app-list-people *ngIf="count === 10"></app-list-people>

<app-list-animal *ngIf="count === 10"></app-list-animal>

<div class="col-4 mx-auto my-3">
	<h3 appMarcaTexto backgroundColor="blue" textColor="#fff">{{ nome }}</h3>
	<button class="btn btn-success col-4 mx-auto" (click)="clicou(nome)">Aperta aki</button>
</div>

<div class="col-4 mx-auto">
	<input type="text" class="form-control" placeholder="Digite algo" [(ngModel)]="text" />
	<h2>Saida: {{ text }}</h2>
</div>

<div class="container my-5">
	<div class="row d-flex aling-itens-center justify-content-center">
		<h2 class="text-center">LISTAGEM DE PERSONAGENS RICK AND MORTY</h2>
		<div class="col-12">
			<app-list-api></app-list-api>
		</div>
	</div>
</div>
